.x-attachment-panel-tbar table td {
    padding:0;
}

.x-filebox-list {
    position: relative;
    margin: 0px;
    overflow: auto;
    padding: 2px;
    display: block;
    outline: none !important;
}
.x-filebox-list-title {
    background-image: url('../images/fujian.png') !important;
}
.x-filebox-list input[disabled] {
    background-color: transparent;
}
.x-filebox-list ul {
    overflow: hidden;
    cursor: text;
}
.x-filebox-list-display-btns {
    padding-right: 33px !important;
}
.x-filebox-list-btns {
    position: absolute;
    right: 1px;
    top: 0;
    overflow: hidden;
    padding: 2px;
}
.x-filebox-list-btns div {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}
.x-filebox-list-btn-clear {
    background: url(../images/clear.png) no-repeat scroll left 0px;
}
.x-filebox-list-btn-expand {
    background: url(../images/expand.png) no-repeat scroll left 0px;
}
.x-filebox-list-btn-over {
    background-position: left -16px;
}
.x-filebox-list-btn-hide {
    display: none;
}
.x-filebox-list li {
    float: left;
    margin: 1px 1px 2px 1px;
    line-height: 16px;
    font-size: 12px;
    font-family: arial;
}
.x-filebox-list-stacked li {
    float: none !important;
}
.x-filebox-list-input input {
    border: none;
    outline: none;
    margin-top: 4px;
    margin-bottom: 4px;
}
body.ext-ie .x-filebox-list-input input {
    background: none;
    border: none;
    margin-top: 3px;
}

/*.x-filebox{position:relative;border:1px solid #bbd8ec;padding:1px 3px 1px 15px;cursor:default;background:white url(../images/fujian.png) 0px center no-repeat}*/
.x-filebox {
    position: relative;
    border: 1px solid #bbd8ec;
    padding: 1px 0px 1px 15px;
    cursor: default;
    white-space: normal;
    background: #fff url(../images/fujian.png) 0px center no-repeat;
}
.x-filebox-over {
    background-color: #97CBF1;
    border: 1px solid #bbd8ec;
}
.x-filebox-link:link, .x-filebox-link:visited {
    outline-style: none;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    display: inline-block;
    color: #333;
    max-width: 100%;
}
.x-filebox-link:hover {
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis white-space: nowrap;
    display: inline-block;
    color: #333;
}

.x-filebox-size {
    margin-top: -9px;
    vertical-align: middle;
    color: #999999;
    display: inline-block;
    margin-left: 3px;
}

.x-filebox-expand {
    background: url(../images/expand2.png) no-repeat scroll 3px 0px;
    border: none;
    height: 16px;
    margin-top: 2px;
    width: 13px;
    display: inline-block;
}

.x-filebox-nonclose .x-filebox-expand {
    margin-right: 2px;
}

/*.x-filebox-close {background:url(../images/close.png) no-repeat scroll 3px 0px;border:none;margin:0;height:16px;width:12px;vertical-align:middle;display:inline-block;}*/
.x-filebox-close {
    background: url(../images/close.png) no-repeat scroll 3px 0px;
    border: none;
    height: 16px;
    margin-right: 2px;
    margin-top: 2px;
    width: 13px;
    display: inline-block;
}

.x-filebox-close:hover, .x-filebox-close:active {
    background-position: 3px -12px;
}
.x-filebox-expand:hover, .x-filebox-expand:active {
    background-position: 3px -12px;
}

.x-filebox-focus {
    border-color: #bbd8ec;
    background-color: #97CBF1;
    color: #fff;
}
.x-filebox-focus .x-filebox-close {
    background-position: 3px -24px;
}

.x-filebox-focus .x-filebox-expand {
    background-position: 3px -24px;
}
.x-item-disabled .x-filebox-close {
    background-position: 3px -36px;
}
.x-item-disabled .x-filebox-expand {
    background-position: 3px -36px;
}
.x-filebox-active {
    background-color: #97cbf1;
    border: 1px solid #bbd8ec;
}

.x-fileview-list {
    position: relative;
    margin: 0px;
    overflow: auto;
    padding: 2px;
    display: block;
    outline: none !important;
}
.x-fileview-list-item {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 50px 5px 35px;
    cursor: default;
    background: url(../images/attachment-view.png) 0px center no-repeat;
}
.x-fileview {
    margin: 0 8px 8px 8px;
    line-height:normal
}
.x-fileview-img {
    float: left;
    cursor: default;
    width: 32px;
    height: 32px;
    background: url(../images/attachment-view.png) 0 0 no-repeat;
}
.x-fileview-text {
    margin-left: 40px;
}
.x-fileview-title {
    color: #333333;
    display: inline-block;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.x-fileview-size {
    color: #999;
    display: inline-block;
    margin-left: 3px;
}
.x-attachment-panel-tbar .x-toolbar {
    border-style: none !important;
    background-color: transparent;
    background: none;
}
.x-attachment-panel-tbar a:link, .x-attachment-panel-tbar a:visited {
    color: #0656aa;
}

.btn-add-attachment {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../images/fujian.png') no-repeat;
    margin-bottom: -2px;
}
.btn-download-all {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    background: url(../images/allimage.png) no-repeat -30px -221px;
}

.tip-filename {
    display: block;
    word-wrap: break-word;
    word-break: break-all;
}
.vertical li{ float:none; }
.vertical li .x-filebox-close{ position:absolute; right:4px;top:3px;}