
.blank-row-line .x-grid3-row
{
    /* border-color: #fff;*/
    border: none;
    font-weight: normal;
}

.blank-row-line .x-grid3-row td.x-grid3-cell
{
    padding-right: 0;
    border-right: 0px solid;
}

.blank-row-line .x-grid3-row-selected td
{
    /* background-color: #fff;*/
    font-weight: bolder;
}
/*  注释原因:影响表头行高，使行高太矮了
.x-grid3-cell-inner, .x-grid3-hd-inner
{
    padding-top: 1px;
    padding-bottom: 1px;
}
*/
/* 修改字典维护框,底部工具栏颜色为灰色;*/
.x-panel-tbar, .x-panel-bbar, .x-window-tbar, .x-window-bbar, .x-tab-panel-tbar, .x-tab-panel-bbar, .x-plain-tbar, .x-plain-bbar
{
    background-color: #e9edf1;
}
/*修改windowview的title与边框间距*/
.x-panel-tl .x-panel-icon, .x-window-tl .x-panel-icon
{
    padding-left: 6px !important;
}
/*treegrid gridview entityView如果有多工具栏，工具栏与panel间有2px的间距*/
.x-panel-bbar .x-grid-toolbar-noborder, .x-panel-tbar .x-grid-toolbar-noborder, .x-panel-noborder .x-panel-tbar-noborder .x-grid-toolbar-noborder
{
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.x-grid-toolbar-noborder .x-toolbar
{
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
/*保留上下边框，去掉左右边框，用于左侧多工具栏，中间工具栏的设置*/
.x-panel-tbar-noheader .x-grid-toolbar-border2, .x-panel-mc .x-panel-tbar .x-grid-toolbar-border2, .x-panel-bbar .x-grid-toolbar-border2, .x-panel-tbar .x-grid-toolbar-border2
{
    border: 1px solid #d0d0d0;
    border-right: 0 none;
    border-left: 0 none;
}


/*treegrid gridview entityView如果有多工具栏，工具栏与panel间有2px的间距*/
.x-panel-bbar .x-grid-toolbar-blank-bg, .x-panel-tbar .x-grid-toolbar-blank-bg, .x-toolbar .x-grid-toolbar-blank-bg
{
    background: #ffffff;
}

/*treegrid gridview entityView如果有多工具栏，工具栏与panel间有2px的间距*/
.x-panel-bbar .x-panel-padding0, .x-panel-tbar .x-panel-padding0
{
    padding: 0px;
}

/*为单据左侧分类树，构造外边框border=1*/
.x-panel-body-treeborder1
{
    border: 1px solid #d0d0d0;
    border: 1px solid #d0d0d0 !important;
}

/*设置单据左侧分类与部门树的tabView的标题背景色*/
.x-panel-tabtitle-bg .x-tab-panel-header-plain .x-tab-strip-top
{
    background-color: #dbdbdb !important;
    background-image: url("/resource/extjs/resources/images/gtpblue/tabs/tab-strip-bg-gif/ext.axd") !important;
}

/**/
.x-panel-tbar .x-toolbar-title-height
{
    padding-top: 3px;
    height: 24px;
}


/* 修改左树右表参照中,选择、取消选择，全选、全不选按钮样式;*/
.x-lookup-select-button
{
    margin-left: -10px;
    width: 50px;
}
/*设置参照GridView边框，暂时似乎没有用到*/
.x-panel-padding10
{
    padding: 10px;
}

/*设置工具栏内间距3px,主工具栏有内间距,普通工具栏没有内间距*/
.x-panel-padding3, .x-panel-tbar .x-panel-padding3
{
    padding: 3px;
}
/*设置单据编辑页边框*/
.x-panel-body-left-bottom-right-border
{
    border-top: 1px solid #d0d0d0 !important;
    border-bottom: 1px solid #d0d0d0 !important;
    border-left: 1px solid #d0d0d0 !important;
    border-right: 1px solid #d0d0d0 !important;
}
/*设置单据编辑页的单据头*/
.x-panel-body-billtitle-bg .x-panel-body
{
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid #dcdcdc !important;
}
/*保留上下边框，去掉左右边框，用于左侧多工具栏，中间工具栏的设置*/
.x-panel-noborder .x-panel-tbar-noborder .x-grid-toolbar-border2
{
    border: 1px solid #d0d0d0;
    border-right: 0 none;
    border-left: 0 none;
}

.x-panel-width0 .x-toolbar-ct, .x-panel-width0 .x-toolbar-ct .x-toolbar-left
{
    width: auto;
}



/*2014-02-21 添加提示条样式，保存成功的绿条提示框样式*/
.msg-box-cls
{
    width: 240px;
    line-height: 1.5;
    position: absolute;
    z-index: 15000;
}
.g-tips
{
    line-height: 24px;
    background-position: 6px 4px;
    border: 1px solid;
    background-repeat: no-repeat;
    position: relative;
    color: #333;
}
.g-tips-clear
{
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}
.g-tips-ico
{
    background-image: url(../images/tips.png);
    width: 16px;
    height: 15px;
    float: left;
    margin: 4px 0 0 6px;
    display: inline;
}
.g-tips-sharp
{
    width: 7px;
    height: 12px;
    display: block;
    position: absolute;
    left: -7px;
    top: 6px;
    background-image: url(../images/sharp.png);
    background-position: -5000px -5000px;
    background-repeat: no-repeat;
}
.g-tips-close
{
    width: 7px;
    height: 7px;
    position: absolute;
    right: 6px;
    top: 9px;
    line-height: 0;
    font-size: 0;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-position: -5000px -5000px;
}
.g-tips-content
{
    display: block;
    margin-left: 25px;
    margin-right: 17px;
}
.g-tips-noico
{
    margin-left: 6px;
}
.g-tips-close:link, .g-tips-close:visited
{
    background-position: 0 0;
}
.g-tips-close:hover
{
    background-position: 0 -7px;
}
.g-tips-link:link, .g-tips-link:visited
{
    color: #0656aa;
    text-decoration: none;
}
.g-tips-link:hover
{
    color: #ba2534;
    text-decoration: underline;
}
.g-font-green
{
    color: #16960e;
}
.g-font-red
{
    color: #d90000;
}
.g-font-gay
{
    color: #666666;
}
.g-content-padtop
{
    padding-top: 8px;
    line-height: 18px;
}
.g-content-padbottom
{
    padding-bottom: 8px;
}
/*普通类信息提示*/
.g-infor
{
    border-color: #c6c6a8;
    background-color: #ffffd7;
}
.g-infor .g-tips-sharp
{
    background-position: 0 0;
}
.g-infor .g-tips-ico
{
    background-position: 0 -45px;
}
/*成功类信息提示*/
.g-succ
{
    background-color: #f1ffe3;
    border-color: #a7d093;
}
.g-succ .g-tips-sharp
{
    background-position: 0 -12px;
}
.g-succ .g-tips-ico
{
    background-position: 0 -60px;
}

/*警告类信息提示*/
.g-exclamation
{
    background-color: #ffeaea;
    border-color: #e08989;
}
.g-exclamation .g-tips-sharp
{
    background-position: 0 -24px;
}
.g-exclamation .g-tips-ico
{
    background-position: 0 0;
}

/*纯色类背景提示*/
.g-tips-plain
{
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}
.g-tips-plain-green
{
    background-color: #16960e;
}
.g-tips-plain-red
{
    background-color: #d90000;
}
.g-tips-plain-yellow
{
    background-color: #e6a800;
}
/*另外附加的两种小提示*/
.g-tips-add1
{
    border: 1px solid #bbd8ec;
    background-color: #e6f2ff;
    padding: 10px;
    position: relative;
}
.g-tips-add1 h1
{
    font-size: 12px;
    line-height: 24px;
}
.g-tips-add1 p
{
    color: #666666;
    line-height: 18px;
}

.g-tips-add2
{
    border: 1px solid #c6c6a8;
    background: #ffffd7 url(../images/light.png) no-repeat 15px 9px;
    margin-top: 7px;
    position: relative;
    padding: 10px;
    padding-left: 52px;
    width: 200px;
}
.g-tips-add2 h1
{
    font-size: 12px;
    line-height: 24px;
}
.g-tips-add2 p
{
    color: #666666;
    line-height: 18px;
}
.g-tips-add2 em
{
    font-style: normal;
    display: block;
    text-align: right;
    padding-right: 18px;
    line-height: 24px;
}
.g-tips-add2 .g-tips-btn:link, .g-tips-add2 .g-tips-btn:visited
{
    color: #0656aa;
    text-decoration: none;
}
.g-tips-add2 .g-tips-btn:hover
{
    color: #ba2534;
    text-decoration: underline;
}
.g-tips-topsharp
{
    width: 11px;
    height: 7px;
    background: url(../images/top-sharp.png) no-repeat;
    display: block;
    position: absolute;
    top: -7px;
    left: 18px;
}

/*HTML单据头*/
.divBillTitle
{
    background-color: #ffffde; /*#f3f3f3;灰色*/
    font-size: 12px;
    border-bottom: 1px solid #c8c8ab !important;
    padding: 8px 10px;
}

.div-bill-title
{
    margin-left: 10px;
    max-width: 770px;
    min-width: 570px;
    width: 100%;
    line-height: 16px;
    text-align: justify;
    text-align-last: justify;
}
.div-bill-title:after
{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    content: '';
    vertical-align: top;
}

.div-bill-title span
{
    /*display: inline-block;  chrome 40下有问题，状态重叠*/
    text-align: justify;
    border-radius: 3px;
}

.div-bill-title-label
{
    color: #808080;
}
.div-bill-title-value1
{
    font-weight: bolder;
    color: #0656aa;
    padding-left: 0.5em;
}
.div-bill-title-value2
{
    font-weight: bolder;
    color: #808080;
    padding-left: 0.5em; /*值前面有一个小间距*/
}

.bill-state-NotSubmitted
{
    color: #3399ff;
}

.div-bill-title .bill-state-Submitted
{
    color: #15960c;
}
.div-bill-title .bill-state-Approving
{
    color: #ff6600;
}
.div-bill-title .bill-state-ApprovePass
{
    color: #15960c;
}
.div-bill-title .bill-state-ApproveNotPass
{
    color: #d90000;
}
.div-bill-title .bill-state-Discard
{
    color: #999999;
}


