body
{
    background: #fff;
    font: 12px/22px Verdana,Arial,sans-serif, "Times New Roman" ,宋体;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}
BODY DIV
{
    text-align: left;
}
