<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"></allow>
    </authorization>
    <httpHandlers>
      <add verb="*" path="delete.ashx" type="GTP.Services.FileService.Core.HttpHandler.DeleteHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="download.ashx" type="GTP.Services.FileService.Core.HttpHandler.DownloadHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="downloadTemp.ashx" type="GTP.Services.FileService.Core.HttpHandler.DownloadTempHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="downloadTemp.ashx/*" type="GTP.Services.FileService.Core.HttpHandler.DownloadTempHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="urlDownload.ashx" type="GTP.Services.FileService.Core.HttpHandler.UrlDownloadHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="upload.ashx" type="GTP.Services.FileService.Core.HttpHandler.UploadHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="information.ashx" type="GTP.Services.FileService.Core.HttpHandler.GetInfoHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="command.ashx" type="GTP.Services.FileService.Core.HttpHandler.CommandHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="connect.ashx" type="GTP.Services.FileService.Core.HttpHandler.ConnectHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="browserUpload.ashx" type="GTP.Services.FileService.Core.HttpHandler.BrowserUploadHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="browserProgressUpload.ashx" type="GTP.Services.FileService.Core.HttpHandler.BrowserProgressUploadHandler, GTP.Services.FileService.Core" validate="false" />
      <add verb="*" path="redirectDownload.ashx" type="GTP.Services.FileService.Core.HttpHandler.RedirectDownloadHandler, GTP.Services.FileService.Core" validate="false" />
    </httpHandlers>
  </system.web>
  <!--<location path="redirectDownload.ashx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>-->
</configuration>